<%- include ('partials/header') %>

    <div id="landing-header">
        <h1>XYZ.inc welcomes you!</h1>
        <a href="/products" class="btn btn-lg btn-success">List All Products</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <%- include ('partials/footer') %>